.chip {
    padding: 0 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(218, 218, 218);
    border-radius: 100px;
    display: inline-flex;
    margin: 4px;
    color: rgba(0, 0, 0, .87);
    align-items: center;
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.chip .icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    width: 20px;
    text-align: center;
}

.chip .icon--leadind {
    margin: 2px 4px 0 -4px;
}

.chip .icon--trailing {
    margin: 2px -4px 0 4px;
}

.chips__choice .chip.chip--active {
    color: rgb(var(--primary-color));
    background-color: rgba(var(--primary-color), 0.2);
}

.chips__filter .chip .chip--check {
    display: none;
}

.chips__filter .chip.chip--active .chip--check {
    display: block;
}

.source{
    position: relative;
}

.isFollow{
    position: absolute;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: #00D363;
}