@keyframes customEnterOverlayAnimationTopic {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes customLeaveOverlayAnimationTopic {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

@keyframes customEnterModalAnimationTopic {
    0% {
    transform: scale(0.2);
    }
    100% {
    transform: scale(1);
    }
}
@keyframes customLeaveModalAnimationTopic {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(0.2);
    }
}

.topic-modal {
    background-color: rgb(245, 245, 245);
    /* background-image: linear-gradient(to bottom right, #3673C3 , #00b353); */
    max-width: 700px;
    width: 100%;
    border-radius: 20px;
}